admin/auth
admin/dbpass
admin/devloc
admin/gth.lic
admin/https
admin/iplant
admin/refresh
admin/sitename
admin/vmatch.lic
data
input
scratch
scripts/.htaccess
src/CpGAT
src/.htaccess
tmp
XGDB/css/.htaccess
XGDB/css.htaccess
XGDB/das/.htaccess
XGDB/htmlExtra/.htaccess
XGDB/images/.htaccess
XGDB/javascripts/.htaccess
XGDB/perllib/.htaccess
XGDB/phplib/.htaccess
